<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <title>portfolio</title>
</head>

<body>
    <!--header-->
    <header class="header-wraper">
        <nav>
        <li class="chapo"><samp class="spam-wraper">Ch</samp>apid<samp class="spam-wraper">ze</samp></li>
        <li class="li-wraper">Home</li>
        <li class="li-wraper">About</li>
        <li class="li-wraper">projekts</li>
        <li class="li-wraper">contact</li> 
        <button onclick="myFunction()">dark-mode</button>
        </nav>
    </header>
    <!--header section-->
    <section>
        <div class="hed-wraper">
          <div class="name-conteiner">
              <h1>გამარჯობა</h1>
              <h1>ჩემი სახელია</h1>
              <h1>ილია</h1>
              <button class="butt"><span>PORTFOLIO</spam></button>
            
           
          </div>
          <div class="container">
              <div class="loader"><span></span></div>
          </div>
        </div>
        
    </section>
    <!--about-section-->
    <section>
        <section class="shalva">
     <div class="about">
         <div class="info">
         <h2>ABO<span>U</span>T</h2>
         <p class="p-wraper ">
              გამარჯობა როგორც უკვე იცით მე მქვია ილია დავიბადე 1997 წელის 2 მარტს
             დავამთავრე ხობის რაიონი სოფელი ჭალადიდის სკოლა ჩავაბარე თბილისის
             სახელმწიფო უნივერსიტეტის ფიზიკის ფაკულტეტზე ვმუშაობ მენეჯერის პოზიციაზე 
             სასტუმრო აბასადორი გოდერძიზე 
         </p>
        </div>
     
     </div>
     <div class="mom-box">
            <div class="box">
            <img src="" alt="">
            <h3 class="h3-wraper">WEB DESIGN</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam doloribus explicabo placeat, veniam distinctio, unde officia commodi maxime praesentium vo</p>
        </div>
        <div class="box">
            <img src="" alt="">
            <h3 class="h3-wraper">WEB DESIGN</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam doloribus explicabo placeat, veniam distinctio, unde officia commodi maxime praesentium vo</p>
        </div>
        <div class="box">
            <img src="" alt="">
            <h3 class="h3-wraper">WEB DESIGN</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam doloribus explicabo placeat, veniam distinctio, unde officia commodi maxime praesentium vo</p>
        </div>
        <div class="box">
            <img src="" alt="">
            <h3 class="h3-wraper">WEB DESIGN</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam doloribus explicabo placeat, veniam distinctio, unde officia commodi maxime praesentium vo</p>
        </div>
     </div>
    </section>
    <!--project section-->
    <section>



</body>



    
</html>